body {
    overflow-x: hidden;
    background-color: #333;
    color: #eee;
}

.page-header {
    background-color: black;
    color: #555555;
    height: 5em;
}

.header-logo {
    height: 3em;
    position: absolute;
    top: 1em;
    left: 10em;
}

.page-title {
    font-size: 4em;
    font-weight: bold;
}

div {
    /*outline: 1px solid white;*/
}

.menu {
    width: 100%;
    height: 3em;
    background-color: #222222;
}

.menu-item {
    padding: 0.5em;
    float: left;
}

.menu-item-active, .menu-item:hover {
    background-color: black;
}

.menu-link {
    color: whitesmoke;
    text-decoration: none;
}

.menu-link:hover {
    color: whitesmoke;
    text-decoration: none;
    /*color: #555555;*/
    /*text-decoration: none;*/
}

.page-part-navigator {
    padding: .5em 0;
}

.message-box {
    background: rgb(102, 195, 34);
    color: whitesmoke;
    padding: 1em;
    width: 100%;
    height: 7em;
    position: fixed;
    bottom: 0;
    opacity: 0;
    display: none;
    z-index: 9999;
}

.message-box-glyph {
    position: absolute;
    top: -0.5em;
}

.under-construction {
    width: 35%;
}

.dish-title, .page-sub-title {
    background-color: rgb(102, 195, 34);
    padding: 0.2em;
}

.settings-title {

}

.loading, .form-modal {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 800%;
    position: absolute;
    top: 0;
    z-index: 8888;
    display: none;
}

.loading > i {
    margin-top: 10%;
}

.form-container {
    padding: 1em;
    background-color: black;
}

.no-data {
    padding: 0.5em;
    background-color: #212529;
    color: #777777;
}

#day-indicator {
    font-size: 1.5em;
}

.dish-selector {
    padding: 0.5em;
    background-color: #171A1D;
    border: 1px solid #212529;
    cursor: pointer;
}

.dish-selector:hover {
    border: 1px solid #66C322;
}

#posible-dishes {
    padding: 1em;
}

.nav-button {
    width: 100%;
    margin: 0.5em;
}

.inspiration {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    float: left;
    height: 20em;
    overflow: hidden;
    margin: 0 1em 1em 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inspiration-caption, .link-container {
    width: 100%;
    height: 10em;
    padding: .5em;
}

.inspiration-caption {
    background-color: rgba(102, 195, 34, 1);
    height: 10em;
    margin-top: -10em;
}

.link-container {
    /*background-color: rgba(102, 195, 34, 0.6);*/
    position: relative;
    background-color: rgba(255, 127, 39, 0.7);
    height: 13em;
    margin-top: 20em;
}

.inspiration-link {
    text-decoration: none;
    color: #eee;
}

.inspiration-link:hover {
    text-decoration: none;
    color: #eee;
}

.add-inspiration-to-dishes {
    width: 100%;
    padding: 0 1em 1em 0;
    position: absolute;
    bottom: 0;
}

.view-changers-container {
    padding: 0.3em;
}

.view-changers {
    margin-right: 0.3em;
    color: rgba(102, 195, 34, 1);
    cursor: pointer;
}

.list-view-row {
    border: 1px solid rgba(102, 195, 34, 1);
    margin-bottom: 1em;
    padding-top: 1.5em;
    height: 5em;
}

.tiny-picture {
    height: 5em;
    width: 5em;
    margin-top: -1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shopping-list-item {
    padding: 0.5em;
    border: 1px solid rgba(102, 195, 34, 1);
    text-transform: capitalize;
    cursor: pointer;
}

.orange {
    color: #4e555b;
    text-decoration: line-through;
}

@media print {
    .no-print, .orange { display:none; }
}