body {
    overflow-x: hidden;
    background-color: #333;
    color: #eee;
}

.page-header {
    background-color: black;
    color: #555555;
    height: 5em;
}

.header-logo {
    height: 3em;
    position: absolute;
    top: 1em;
    left: 10em;
}

.page-title {
    font-size: 4em;
    font-weight: bold;
}

div {
    /*outline: 1px solid white;*/
}

.menu {
    width: 100%;
    height:3em;
    background-color: #222222;
}

.menu-item {
    padding: 0.5em;
    float: left;
}

.menu-link {
    color: whitesmoke;
    text-decoration: none;
}

.menu-link:hover {
    color: #555555;
    text-decoration: none;
}

.page-part-navigator {
    padding: .5em 0;
}