<div class="page-header">
    <div class="row">
        <div class="col-3">
            <img class="header-logo" src="img/logo.png"/>
        </div>
        <div class="col-6 text-center">
            <div class="page-title">{{ title }}</div>
        </div>
    </div>
</div>

