<div class="page-header no-print">
    <div class="row">
        <div class="col-3">
            <img class="header-logo" src="img/logo.png"/>
        </div>
        <div class="col-6 text-center">
            <div class="page-title"><i class="far fa-map"></i> {{ title }}</div>
        </div>
    </div>
</div>

