<div class="menu">
    {% for item in menuItems %}
        <div class="menu-item">
            <a class="menu-link" href="{{ item['path'] }}">
                <i class="{{ item['fa'] }}"></i>
                {{ item['caption'] | capitalize }}
            </a>
        </div>
    {% endfor %}
</div>