<div class="message-box">
    <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col-8 message-container"></div>
        <div class="col-2 text-center">
            <i class="fas fa-exclamation fa-5x message-box-glyph"></i>
        </div>
    </div>
</div>