<html lang="en">
<head>
    {% block title %}{% endblock %}
    {% include 'shared/head.html.twig' %}
</head>

<body>
{% include 'shared/header.html.twig' %}
<div class="custom_container">
    {% block body %}{% endblock %}
</div>
{% include 'shared/message-box.html.twig' %}
{% include 'shared/loading.html.twig' %}
{% block scripts %}
{% endblock %}
</body>
</html>