<div class="text-center">
    <div>
        <img class="under-construction" src="img/paul.jpg">
        <img class="under-construction" src="img/enara.jpg">
    </div>
    <div>
        <h1>under-construction</h1>
    </div>
</div>