<div class="category-form forms">
    <form action="./settings" method="post">
        <input type="text" name="actionType" value="category" hidden="hidden"/>
        <div class="form-group">
            <label>Categry name</label>
            <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Active</label>
            <select class="form-control" name="deleted">
                <option value="0">YES</option>
                <option value="1">NO</option>
            </select>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-success">Save</button>
        </div>
    </form>
</div>