{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    {% include 'shared/menu.html.twig' %}
    <div class="row">
        <div class="col-6">
            {% include 'ingredients/page-parts/table.html.twig' %}
        </div>
        <div class="col-4">
            {% include 'ingredients/page-parts/addingredientsform.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var categoryFilter = $('#ingredients-filter'),
            select = $('#form-category-select'),
            category = parseInt({{ category }}),
            editButton = $('.edit-button'),
            deleteButton = $('.delete-button');
    </script>
    <script src="js/filter.js"></script>
    <script src="js/ingredients.js"></script>
{% endblock %}