{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% include 'menu-maker/page-parts/menu-table.html.twig' %}
        </div>
        <div class="col-1"></div>
    </div>
    {% include 'menu-maker/page-parts/add-modal.html.twig' %}
{% endblock %}
{% block scripts %}
    <script src="js/menu-maker.js"></script>
{% endblock %}