{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    {% include 'under_construction.html.twig' %}
{% endblock %}
{% block scripts %}
{% endblock %}