<div class="text-left view-changers-container">
    <i class="fas fa-equals fa-2x view-changers action-button"
       data-action="change-view"
       data-target="#list-view"
       title="List view"></i>
    <i class="fas fa-grip-horizontal fa-2x view-changers action-button"
       data-action="change-view"
       data-target="#tile-view"
       title="Tile view"></i>
    <i class="fas fa-plus fa-2x view-changers action-button"
       data-action="change-view"
       data-target="#add-inspiration-form"
       title="Add inspiration"></i>
</div>