{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    {% include 'shared/menu.html.twig' %}
    {% include 'shared/page-title.html.twig' %}
    <div class="row">
        <div class="col-9">
            {% include 'dishes/page-parts/table.html.twig' %}
        </div>
        <div class="col-3">
            {% include 'dishes/page-parts/form.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="js/dishes.js"></script>
{% endblock %}