{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    {% include 'inspiration/page-parts/tile-view.html.twig' %}
    {% include 'inspiration/page-parts/list-view.html.twig' %}
    {% include 'inspiration/page-parts/add-inspiration-form.html.twig' %}
{% endblock %}
{% block scripts %}
    <script src="js/inspiration.js"></script>
 {% endblock %}